.footer {
    height: 80px;
    margin: 20px;
  }
  
  .footer-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .foot-socials {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 10px;
  }

  .horizontal-line {
      border: 1px solid #FF2001;
  }

  .footer-credit {
      font-size: 10px;
  }

  a {
      color: inherit;
  }